/*Анимация*/

/*CSS*/
span#pulse.active {
    animation: pulse 2s infinite;
}

.pulse {
    animation: none;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ABF7A1;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(121, 233, 46, 0.4);
    position: absolute;
    top: 130px;
    left: 82px;
  }
  .pulse:hover {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #7BEC6D;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(121, 233, 46, 0.4);
    animation: pulse 2s infinite;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(116, 204, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(129, 204, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(121, 204, 44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(71, 204, 44, 0.4);
      box-shadow: 0 0 0 0 rgba(44, 204, 57, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(63, 204, 44, 0);
        box-shadow: 0 0 0 10px rgba(49, 204, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(71, 204, 44, 0);
        box-shadow: 0 0 0 0 rgba(44, 204, 57, 0);
    }
  }